<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<div class="area"></div>
<nav class="main-menu">
	<ul>
		<li>
			<a routerLink="">
				<i class="fa fa-home fa-2x"></i>
				<span class="nav-text">Home</span>
			</a>

		<li>
			<a routerLink="/login">
				<i class="fa fa-arrow-circle-o-right fa-2x"></i>
				<span class="nav-text">Login</span>
			</a>
		</li>

		<li class="has-subnav">
			<a (click)="redirectWhenLogged('/profile')">
				<i class="fa fa-user fa-2x"></i>
				<span class="nav-text">My Profile</span>
			</a>

		</li>
		<li class="has-subnav">
			<a (click)="redirectWhenLogged('/boards')">
				<i class="fa fa-folder fa-2x"></i>
				<span class="nav-text">Boards</span>
			</a>
		</li>

		<li>
			<a
				href="https://github.com/flammenderdrache/yap-backend/blob/master/api-documentation/Documentation-main.md"
				rel="noreferrer noopener" target="_blank">
				<i class="fa fa-info fa-2x"></i>
				<span class="nav-text">API Documentation</span>
			</a>
		</li>
		<li>
			<a href="https://github.com/FlareFlo/Angular-testing-source-css" rel="noreferrer noopener" target="_blank">
				<i class="fa fa-github fa-2x"></i>
				<span class="nav-text">Github</span>
			</a>
		</li>
	</ul>
	<ul class="logout">
		<li class="has-subnav">
			<a (click)="redirectWhenLogged('/legacy')">
				<i class="fa fa-folder fa-2x"></i>
				<span class="nav-text">Legacy testing</span>
			</a>
		</li>
	</ul>
</nav>



