<div class="logout">
	<li>
		<a href="/gettester">
			<i class="fa fa-2x"></i>
			<span class="nav-text">experimental GET, first steps to learning HTTP requests</span>
		</a>
	</li>

	<li>
		<a href="/poster">
			<i class="fa fa-2x"></i>
			<span class="nav-text">experimental POST (user creation), learning how to POST with HTTP</span>
		</a>
	</li>

	<li>
		<a href="/tokentester">
			<i class="fa fa-2x"></i>
			<span class="nav-text">experimental GET/PUT token generator, testing chained HTTP requests</span>
		</a>
	</li>

	<li>
		<a href="/usermanagement">
			<i class="fa fa-2x"></i>
			<span class="nav-text">experimental GET/PUT user management, learning multipart HTTP requests </span>
		</a>
	</li>

	<li>
		<a href="/datatabletest">
			<i class="fa fa-2x"></i>
			<span class="nav-text">Testing datatable, deprecated component that served for boards</span>
		</a>
	</li>
</div>
