<div class="wrapper-new">
  <div class="container-new">
    <h1>{{message}}</h1>
    <!-- <h1>{{message}}</h1> -->
    <!-- ^ NEEDS FIXING, DOESNT WORK!-->

    <form class="loginform">
      <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" #email (keyup)="doEmail(email.value)">
      <input type="password" placeholder="Password" #password (keyup)="doPassword(password.value)">
      <button type="submit" id="login-button" (click)="doPost()">Login</button>
      <!-- <button type="submit" id="login-button" (click)="doPost()">{{loginmessage}}</button> -->
      <!-- ^ NEEDS FIXING, DOESNT WORK!-->
      <a class="register" routerLink="/register">Register</a>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

