@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

body {
	background-color: #1c1c1c;
}

.ngx-datatable {
	color: #FFFFFF;
	background-color: #2d2d2d;
	margin-left: 6rem;
	margin-right: 50%;
}
