* {
	color: #FFFFFF;
	overflow: hidden;
}

.sorting__container {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
}

label {
	display: block;
	font: 1rem 'Fira Sans', sans-serif;
}

.due__text {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
	font-size: 10pt;
}

.container__popup__Loading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
}

progress {
	height: 5px;
	width: calc(100vw - 60px);
	margin-left: 60px;
	background-color: #53e3a6 !important;
	transition: all 5s ease-out;
}


.button__sort {
	background-color: #53e3a6 !important;
	border: none;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline;
	font-size: 10pt;
	width: 100%;
}

.sorting__container {
	background-color: #53e3a6 ;
}

.button__addEntry {
	background-color: #53e3a6 !important;
	border: none;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline;
	width: 100%;
	font-size: 15px;
}

.button__editEntry {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: rgba(0, 0, 0, 0);
	text-align: center;
	text-decoration: none;
	display: inline;
	width: 100%;
	font-size: calc(12px + 0.5vw) !important;
	border-radius: 4px;
	transition: 0.25s;
}

.button__editEntry:hover {
	background-color: #53e3a6 !important;
	color: black;
}

.item__container {
	width: 40vw;
	max-width: 500px;
	margin: 1rem 0 0 20vw;
}

.item__list {
	border: solid 1px #ccc;
	min-height: 60px;
	background: #1c1c1c;
	border-radius: 4px;
	overflow: hidden;
	display: block;
}

.item__box {
	padding: 20px 10px;
	border-bottom: solid 1px #ccc;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: #818181;
	font-size: 14px;
	height: calc(10px + 3vh);
	cursor: pointer;
}

.item__box:hover {
	background-color: #3ce5ad;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
	0 8px 10px 1px rgba(0, 0, 0, 0.14),
	0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

/*
.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
 */

.item__box:last-child {
	border: none;
}

.item__list.cdk-drop-list-dragging .item__box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* ------------------------------------------------------------------------------------------------------*/


.container__popup {
	background-color: rgba(34, 34, 34, 0.69);
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
	backdrop-filter: blur(40px);
	position: fixed;
	top: 5vh;
	left: 29vw;
	width: auto;
	height: auto;
	z-index: 1;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.12),
	0 0 2px rgba(0, 0, 0, 0.12),
	0 0 4px rgba(0, 0, 0, 0.12),
	0 0 8px rgba(83, 227, 166, 0.12),
	0 0 16px rgba(83, 227, 166, 0.12);
	transition: ease-in;
	transition-duration: 0.2s;

}

.md-form {
	display: grid;
	place-items: center;
}

.container__popup:hover {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12),
	0 0 4px rgba(0, 0, 0, 0.12),
	0 0 8px rgba(0, 0, 0, 0.12),
	0 0 16px rgba(83, 227, 166, 0.12),
	0 0 32px rgba(83, 227, 166, 0.12);
}

.buttons {
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 10px;
	grid-auto-flow: column;
}

textarea {
	background-color: #282C34;
	color: #FFFFFF;
	border-color: #1c1c1c;
	font-size: 15pt;
	width: 95%;
	height: 100px;
	resize: both;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-grid;
}

textarea:hover {
	background-color: #282C34;
}

textarea:focus, textarea:active {
	background-color: #282C34;
	border-color: #1c1c1c;
	color: #FFFFFF;

}


input {
	background-color: #282C34;
	color: #FFFFFF;
	border-color: #1c1c1c;
	font-size: 20pt;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	width: 95%;
}

input:hover {
	background-color: #282C34;
}

input:focus, input:active {
	background-color: #282C34;
	border-color: #1c1c1c;
	color: #FFFFFF;
}


.h2_popup {
	text-align: center;
	padding-top: 1vh;
}

.button__submit, .button__close, .button__delete {
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	width: 10em;
	font-size: calc(10px + (4px * 1rem));
	border-radius: 4px;
	margin: 10px 4px;
}

.button__submit {
	background-color: rgb(83, 227, 166) !important;
	box-shadow: 0 0 5px rgb(83, 227, 166);
	transition: ease-in;
	transition-duration: .1s;
}

.button__submit:hover {
	box-shadow: 0 0 10px rgb(83, 227, 166);
}

.button__close {
	background-color: #e38d53 !important;
	box-shadow: 0 0 5px #e38d53;
	transition: ease-in;
	transition-duration: .1s;
}

.button__close:hover {
	box-shadow: 0 0 10px #e38d53;
}

.button__delete {
	background-color: #e35353 !important;
	box-shadow: 0 0 5px #e35353;
	transition: ease-in;
	transition-duration: .1s;
}

.button__delete:hover {
	box-shadow: 0 0 10px #e35353;
}

