<div class="container">
	<button class="button__sort" (click)="sortByDueDate()">Sort by Due date</button>
	<button class="button__sort" (click)="sortByTitle()">Sort by title</button>
	<button class="button__sort" (click)="sortByDescription()">Sort by description</button>
	<button class="button__sort" (click)="sortByID()">Sort by ID</button>
</div>
<div class="example-container">
	<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
		<div class="example-box" *ngFor="let entries of entries" cdkDrag id="{{entries.entryID}}" (click)="handleClickEdit($event)">
			{{entries.title}}
		</div>
		<button class="button__addEntry" (click)="handleClickOpen($event)">Add new entry</button>
	</div>
</div>
<div class="md-form" *ngIf="showEdit">
	<label>Title</label>
	<input #title mdbinput class="form-control" data-custom-input="update" type="text" placeholder="{{this.entries[this.clickID].title}}">
	<label>Description</label>
	<input #description mdbinput class="form-control" type="text" data-custom-input="update"
		   placeholder="{{this.entries[this.clickID].description}}">
	<div>Entry ID: {{this.entries[this.clickID].entryID}}</div>
	<div>Create date: {{localizer(this.entries[this.clickID].createDate)}}</div>
	<div>Due date: {{localizer(this.entries[this.clickID].dueDate)}}</div>
	<button class="button__submit" (click)="putEntry(title.value, description.value)">Update/Close</button>
	<button class="button__close" (click)="deleteEntry()">Delete entry</button>
</div>

