<div class="container__popup__Loading" *ngIf="availableEntries.length !== entries.length">
	<progress max="{{availableEntries.length}}" value="{{entries.length}}"></progress>
</div>

<div class="item__container">
	<div cdkDropList class="item__list" (cdkDropListDropped)="drop($event)">
		<div class="sorting__container">
			<button class="button__sort" (click)="sortByTitle()">Sort by title</button>
			<button class="button__sort" (click)="sortByCreateDate()">Sort by create date</button>
			<button class="button__sort" (click)="sortByDueDate()">Sort by Due date</button>
			<div class="button__sort" *ngIf="!toggleSort">↓</div>
			<div class="button__sort" *ngIf="toggleSort">↑</div>
		</div>
		<div oncontextmenu="return false;" class="item__box" *ngFor="let entries of entries" cdkDrag
			 id="{{entries.entryID}}"
			 (click)="handleClickEdit($event)" (contextmenu)="handleClickEdit($event)">
			{{entries.title}}
		</div>
		<button class="button__addEntry" (click)="handleClickCreate($event)">Add new entry</button>
	</div>
</div>
<div class="md-form" *ngIf="showEdit">
	<div class="container__popup">
		<h2 class="h2_popup">Edit entry</h2>
		<input #name class="form-control" data-custom-input="create" type="text"
			   placeholder="{{this.entries[this.clickID].title}}" value="{{this.entries[this.clickID].title}}">
		<textarea #description class="form-control" data-custom-input="create"
				  placeholder="{{this.entries[this.clickID].description}}">{{this.entries[this.clickID].description}}</textarea>
		<div class="due__text">Due until: {{convertToLocal()}}</div>
		<div class="due__text" *ngIf="this.entries[clickID].dueDate !== 0">Time left: {{this.timeleft}} days</div>
		<input #dueDate class="form-control" data-custom-input="create" type="datetime-local">
		<div class="buttons">
			<button class="button__submit" (click)="putEntry(name.value, description.value, dueDate.value)">Save
			</button>
			<button class="button__close" (click)="toggleEdit()">Discard and close</button>
			<button class="button__delete" (click)="deleteEntry()">Delete entry</button>
		</div>
	</div>
</div>
<div class="container__popup" *ngIf="showCreate">
	<h2 class="h2_popup">Create new entry</h2>
	<input #name class="form-control" data-custom-input="create" type="text" placeholder="Title">
	<input #description class="form-control" data-custom-input="create" type="text" placeholder="Description">
	<input #dueDate class="form-control" data-custom-input="create" type="datetime-local">
	<div>
		<div class="buttons">
			<button class="button__submit" (click)="postEntry(name.value, description.value, dueDate.value)">Create
			</button>
			<button class="button__close" (click)="toggleCreate()">Discard and close</button>
		</div>
	</div>
</div>


