<div class="example-container">
	<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
		<div class="sorting__container">
			<button class="button__sort" (click)="sortByDueDate()">Sort by Due date</button>
			<button class="button__sort" (click)="sortByTitle()">Sort by title</button>
			<button class="button__sort" (click)="sortByDescription()">Sort by description</button>
			<button class="button__sort" (click)="sortByID()">Sort by ID</button>
		</div>
		<div oncontextmenu="return false;" class="example-box" *ngFor="let entries of entries" cdkDrag
			 id="{{entries.entryID}}"
			 (click)="handleClickEdit($event)">
			{{entries.title}}
		</div>
		<button class="button__addEntry" (click)="handleClickCreate($event)">Add new entry</button>
	</div>
</div>
<div class="md-form" *ngIf="showEdit">
	<div class="container__popup">
		<h2 class="h2_popup">Edit entry</h2>
		<input #name class="form-control" data-custom-input="create" type="text" placeholder="Title">
		<textarea #description class="form-control" data-custom-input="create" placeholder="Description"></textarea>
		<input #dueDate class="form-control" data-custom-input="create" type="datetime-local" (keyup.enter)="printdate(dueDate.value)">
		<div class="buttons">
			<button class="button__submit" (click)="putEntry(name.value, description.value)">Save</button>
			<button class="button__close" (click)="toggleEdit()">Discard and close</button>
			<button class="button__delete" (click)="deleteEntry()">Delete entry</button>
		</div>
	</div>
</div>
<div class="container__popup" *ngIf="showCreate">
	<h2 class="h2_popup">Create new entry</h2>
	<input #name class="form-control" data-custom-input="create" type="text" placeholder="Title">
	<input #description class="form-control" data-custom-input="create" type="text" placeholder="Description">
	<input #dueDate class="form-control" data-custom-input="create" type="datetime-local">
	<div>
		<div class="buttons">
			<button class="button__submit" (click)="postEntry(name.value, description.value, dueDate.value)">Create
			</button>
			<button class="button__close" (click)="toggleCreate()">Discard and close</button>
		</div>
	</div>
</div>

