<div class="parent">
	<div class="div1"></div>
	<div class="div2">
		<h1>User management</h1>
		<form>
			<input #username type="text" class="form-control" placeholder="{{packageobject.username}}"
				   (keyup)="doUsername(username.value)">
			<input #email type="email" class="form-control" placeholder="{{packageobject.emailAddress}}"
				   (keyup)="doEmail(email.value)">
			<input #password type="password" class="form-control" placeholder="Password"
				   (keyup)="doPassword(password.value)">
			<button type="button" class="btn btn-primary" (click)="doPUT()">Put!</button>
		</form>
		<h1>Current data</h1>
		<pre>
      <code>{{packageobject | json}}</code>
    </pre>
	</div>
	<div class="div3"></div>
</div>
