<h1>User creation</h1>
<form>
  <div class="form-row">
    <div class="col-auto">
      <label>
        <input #box type="text" class="form-control" placeholder="Username" (keyup.enter)="doUsername(box.value)">
      </label>
    </div>
    <div class="col-3">
      <label>
        <input #box type="text" class="form-control" placeholder="Email" (keyup.enter)="doEmail(box.value)">
      </label>
    </div>
    <div class="col-2">
      <label>
        <input type="password" class="form-control" placeholder="Password">
      </label>
    </div>
    <button type="button" class="btn btn-primary" (click)="doPOST()">Post!</button>
  </div>
</form>
