<h1>User creation</h1>
<form>
  <div class="form-row">
    <div class="col-auto">
        <input #username type="text" class="form-control" placeholder="Username" (keyup.enter)="doUsername(username.value)">
    </div>
    <div class="col-auto">
        <input #email type="text" class="form-control" placeholder="Email" (keyup.enter)="doEmail(email.value)">
    </div>
    <div class="col-auto">
        <input #password type="password" class="form-control" placeholder="Password" (keyup.enter)="doPassword(password.value)">
    </div>
    <button type="button" class="btn btn-primary" (click)="doPOST()">Post!</button>
  </div>
</form>
