@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


input {
	background-color: #21252B;
	margin-top: .75vh;
}

input:hover {
	background-color: #282C34;
}

input:focus {
	background-color: #282C34;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.btn {
	margin-top: 1vh;
}

.div2 {
	text-align: center;
}

.parent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}

.div2 {
	grid-area: 1 / 2 / 2 / 3;
}

.div3 {
	grid-area: 1 / 3 / 2 / 4;
}
