<div class='container'>
	<div class='main'>
		<div class='main__header'>
			<h2>My profile</h2>
		</div>
		<div class="pfp">
			<img src="{{this.getPFP()}}" alt="Profile Picture if you had one">
			<!--
			<div class="pfp__options">
				<button (click)="postPFP(image.value)" class='btn main__save-button'>Save</button>
				<input #image type="file" accept="" onchange="console.log(event.target.files)">
			</div>
			-->
		</div>
		<div class='main__content'>
			<div class='main__settings-form'>
				<div class='main__header'>
					<h3>General Information</h3>
				</div>
				<form action='#' method='post'>
					<label class='main__input-label'>Username:</label>
					<input #username class='main__input' placeholder='{{this.packageobject.username}}' type='text'>
					<label class='main__input-label'>Your e-mail:</label>
					<input #email class='main__input' placeholder='{{this.packageobject.emailAddress}}'
						   type='text'>
					<button class='btn main__save-button'
							(click)="usrchange(username.value, email.value, oldPassword.value)">Save
					</button>

					<div class='main__header'>
						<h3>Change Password</h3>
					</div>

					<label class='main__input-label'>Password:</label>
					<input #oldPassword class='main__input' placeholder='Old password' type='password'>
					<input #newPassword class='main__input' placeholder='New password (only if you wish to change it)'
						   type='password'>
				</form>
				<div>
					<button class='btn main__save-button' id="Save"
							(click)="pwdchange(oldPassword.value, newPassword.value)">Save
					</button>
					<button class='btn main__logout-button' (click)="logout()">Logout</button>
				</div>
				<!--
				<button class='btn main__logout-button' (click)="deleteUser(oldPassword.value)">Delete account</button>
				-->

			</div>
		</div>
	</div>
</div>

