*, *:before, *:after {
	box-sizing: border-box;
	color: #FFFFFF;
}

body {
	background: #F0F1F2;
	font-family: "Montserrat", sans-serif;
}

.container {
	max-width: 90%;
	margin-left: 10vw;
}

.main {
	width: 70%;
	vertical-align: top;
	display: inline-block;
	background: #222222;
	margin-left: 3%;
	border-radius: 3px;
	overflow: hidden;
	color: white;
}

.main__header {
	padding: 20px;
	border-bottom: 1px solid #F0F1F2;
}

.main__content {
	padding: 20px;
}

.main__avatar {
	/*
	background: url("https://images.unsplash.com/photo-1610898564097-e28bd69740a4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
	*/
	background-size: cover;
	width: 150px;
	height: 150px;
	display: block;
	vertical-align: middle;
	margin: 20px auto;
	border-radius: 50%;
	overflow: hidden;
}

.main__avatar:hover .main__avatar--overlay {
	opacity: 1;
	border-radius: 50%;
}

.main__avatar--overlay {
	opacity: 0;
	background: rgba(52, 138, 167, 0.6);
	color: #FFF;
	text-align: center;
	line-height: 150px;
	border-radius: 50%;
	transition: all 0.3s ease;
	cursor: pointer;
}

.main__settings-form {
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.main__input-label {
	font-size: 80%;
	color: #C4C1C9;
	display: block;
	margin: 5px 5px 5px 5px;
}

.main__input {
	display: inline-block;
	width: 100%;
	border: 1px solid #1c1c1c;
	margin-bottom: 20px;
	outline: none;
	padding: 15px;
	border-radius: 3px;
	background-color: #494949;
	font-family: "Montserrat", sans-serif;
}

.main__input:focus {
	border: 1px solid #53e3a6;
	transition: all 0.3s ease;
}

.btn {
	margin-bottom: 20px;
	font-family: "Montserrat", sans-serif;
	border: none;
	outline: none;
	padding: 15px 25px;
	border-radius: 3px;
	transition: all 0.3s ease;
}


@media (max-width: 764px) {
	.sidebar {
		width: 100%;
		margin-bottom: 20px;
	}

	.sidebar__menu-item {
		padding: 15px;
	}

	.main {
		width: 100%;
		margin: 0;
	}

	h1 {
		font-size: 44px;
	}

	footer {
		text-align: center;
	}
}

button {
	appearance: none;
	outline: 0;
	border: 0;
	color: #000000;
	border-radius: 3px;
	width: 20vw;
	cursor: pointer;
	font-size: 18px;
	transition-duration: 0.25s;
	display: inline;
}

.main__save-button {
	background-color: #49d496;
}

.main__save-button:hover {
	background-color: #3ce5ad;
}

.main__logout-button {
	background-color: #d44949;
	margin-left: 1em;
}

.main__logout-button:hover {
	background-color: #bf0000;
}
