<div class="container">
	<button class="button__sort" (click)="sortByName()">Sort by name</button>
	<button class="button__sort" (click)="sortById()">Sort by ID</button>
	<button class="button__sort" (click)="sortByCreateDate()">Sort by create date</button>
</div>
<div class="example-container">
	<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
		<div class="example-box" *ngFor="let boards of boards">
			{{boards.name}}
			<button id="{{boards.boardID}}" class="button__editEntry" (click)="handleClick($event)">Edit</button>
		</div>
		<button class="button__addEntry">Create new board</button>
	</div>
</div>
