<div class="container">
	<button class="button__sort" (click)="sortByName()">Sort by name</button>
	<button class="button__sort" (click)="sortById()">Sort by ID</button>
	<button class="button__sort" (click)="sortByCreateDate()">Sort by create date</button>
</div>
<div class="example-container">
	<div class="example-list">
		<div class="example-box" *ngFor="let boards of boards" id="{{boards.boardID}}" (click)="handleClickOpen($event)" (contextmenu)="handleClickEdit($event)">
			{{boards.name}}
		</div>
		<button class="button__addEntry" (click)="openPopupCreate()">Create new board</button>
	</div>
</div>
<div class="md-form" *ngIf="showEdit">
	<div class="container__popup">
		<h2 class="h2_popup">Edit board</h2>
		<div>
			<input #name mdbinput class="form-control" data-custom-input="create" type="text" placeholder="Title">
			<div class="buttons">
				<button class="button__submit" (click)="postBoard(name.value)" >Save</button>
				<button class="button__close" (click)="toggleEdit()">Discard and close</button>
			</div>
		</div>
	</div>
</div>
