<div class="container">
	<button class="button__sort">Sort by Due date</button>
	<button class="button__sort">Sort by title</button>
	<button class="button__sort">Sort by description</button>
	<button class="button__sort">Sort by ID</button>
</div>
<div class="example-container">
	<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
		<div class="example-box" *ngFor="let boards of boards" cdkDrag>
			{{boards.name}}
			<button id="{{boards.boardID}}" class="button__editEntry" (click)="handleClick($event)">Edit</button>
		</div>
		<button class="button__addEntry">Add new entry</button>
	</div>
</div>
